* {    
    margin:0;
    padding:0;
    background-color: #274265;
    font-family: 'open sans', sans-serif;
    color:white;  

} 

body {
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:none;
    width: 100%!important;
    height: 100%;
}

header {
    width: 100%;
    height: 275px;
    /* border: solid wheat 1px;*/ 

} 
header div {
    display: inline-block;
    margin-top: 110px;
    margin-left: 125px;
}

h1, h2 {
    font-size: 40px;
    /*border: solid wheat 1px;*/ 
}  

img.imagelogoatec {
    max-width: 220px;
    height: 80px;
    margin-top: 110px;
    margin-right: 125px;
    position: absolute;
    right: 0; 
} 

/* section{
    border: solid #fff 1px;
}*/ 

section.image, section.body section.container {
    width: 90%;
    margin: 0px auto; 
} 

section.image {
    display: flex !important;
    flex-direction: row-reverse !important;
} 

section.image .imageuser {
    margin-right: 50px !important;
} 

section.image div.numberstudent {
    width: 60px;
    text-align: center;
    align-self: center;
    font-size: 30px;
    font-weight: bold;
} 

section.body section.container article {
    width: 30%;
    margin: 1%;
    display: inline-block;
    vertical-align: top; 
} 

/* section.body section.container article:first-child {
    margin-left: 2%; 
}*/ 

section.body section.container article table {
    width: 100%;
    border-collapse:collapse;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

table tr {
    border-bottom: solid #274265 8px;
    font-size: 20px;
}

table tr th {
    position: sticky;
    top: 0;
    background-color: #00b0f0; /*Cor para criar ilusão de borda*/
    border-right: solid #274265 6px;
    height: 35px;
}

table tr td {
    background-color: white; /*Cor para criar ilusão de borda*/
    padding:5px 5px 0px 5px;
    color: #204e79;
    border-right: solid #274265 6px;
    height: 35px;
}

table tr td:not(:last-child) {
    padding: 1px 0 1px 1px; /*Retirar padding a direita da td, exceto da última para não criar colapso de bordas*/ 
} 

footer {
    /* border: #fff 1px solid; */
    background-color: #274265;
    max-height: 175px;
    position: fixed;
    bottom: 0%;
    text-align: center;
    width: 100%;
}

footer p {
    color: #fff;
    font-size: 20px;
    margin-bottom: 5%;
    background-color: transparent;
}




