* {
    margin: 0;
    padding: 0;
    font-family: 'open sans', sans-serif;
    letter-spacing: 0.4px !important;
    color: white;
    position: relative;
    z-index: 1;
}

body { 	
    -webkit-font-smoothing:antialiased;  	
    -webkit-text-size-adjust:none;  	
    width: 100%!important;  	
    height: 100%;
    width: 100%;
}
#atecPicture {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: fixed !important;
    background-color: #274265;
    background-image: url('../Images/ATEC_logo_branco_Opacity.png');
    background-position: 50% -5%;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    width: 100%;
    height: 175px;
    /*border: solid wheat 1px;*/
}
header div{
   display: inline-block;
   margin: 75px 0px 50px 75px;
   
 
}
h1, h2{
    font-size: 30px;
    /*border: solid wheat 1px;*/

}

img{
    max-width: 200px;
    height: 75px;
    margin: 50px 50px 50px;
    position: absolute;
    right: 0;

  
}
section{
    height: 400px;
    /*border: solid #fff 1px;*/
    
}


section.body section.container{
    width: 90%;
    margin: 0px auto;
}
section.body section.container article{
    
    width: 30%;  
    margin: 1%;
    display: inline-block;
    vertical-align: top;
}
section.body section.container article:first-child{
    margin-left: 2%;
}
section.body section.container article table{
    width: 100%;
    border-collapse:collapse;
    text-align: center;
    margin-top: 40px;
}

table tr {
    border-bottom: solid #274265 8px;
}

table tr th {
    position: sticky;
    top: 0;
    background-color: #00b0f0;  /*Cor para criar ilusão de borda*/
    border-right: solid #274265 6px;
    height: 30px;
    
}

table tr td {
    background-color: white;  /*Cor para criar ilusão de borda*/
    padding:5px 5px 0px 5px;
    color: #204e79;
    border-right: solid #274265 6px;
    height: 30px;
   
}
table tr td:not(:last-child) {
    padding: 1px 0 1px 1px; /*Retirar padding a direita da td, exceto da última para não criar colapso de bordas*/
}
footer{
    max-height: 175px;
    /*border: solid #fff 1px;*/
}
footer p{
    color: #fff;
    text-align: center;
    font-size: 17px;
    margin: 79px;
}




