﻿* {
    margin: 0;
    padding: 0;
    font-family: 'open sans', sans-serif;
    letter-spacing: 0.4px !important;
    color: white;
    position: relative;
    outline: none !important;
    box-sizing: border-box !important;
}

body {
    width: 100% !important;
    overflow-x: hidden !important;
}

.open > .dropdown-menu {
    opacity: 0;
    animation-name: openDrop;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-play-state: initial;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes openDrop {
    from { opacity: 0; }
    to { opacity: 1; }
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    background-color: #00b0f0;
    -webkit-box-shadow: inset 0rem 0.3125rem 0.375rem 0rem rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0rem 0.3125rem 0.375rem 0rem rgba(0,0,0,0.2);
    box-shadow: inset 0rem 0.3125rem 0.375rem 0rem rgba(0,0,0,0.2);
}

.menu-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    background-color: rgba(0, 176, 240, 0.4);
    max-height: 5vh;
}

.navbar {
    width: 100vw !important;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    display: none !important;
}

input[type=date]::-webkit-calendar-picker-indicator {
    background-color: transparent !important;
    display: block !important;
}

input[type=date]::-webkit-calendar-picker-indicator:valid {
    color: #00b0f0 !important;
}

input[type=date]::-webkit-calendar-picker-indicator:invalid {
    color: #fff !important;
}

.mt-vh-5 {
    margin-top: 5vh !important;
}

.bg-light-blue {
    background-color: #00b0f0 !important;
    border: none !important;
}

.body-bg-blue {
    background-color: #274265 !important;
}

.logo {
    margin: 0.625rem !important;
    width: 10% !important;
    cursor: pointer;
    float: left !important;
}

.header-title {
    font-size: 1.1em !important;
    margin: 0 !important;
}

.header-line {
    padding: 0.0625rem 0.3125rem !important;
    margin-left: 0.625rem !important;
    border-left: 0.125rem solid rgba(201, 208, 216, 0.8) !important;
}

.btn-header {
    padding: 0.125rem 1.875rem !important;
    color: #00b0f0;
    background-color: white;
    border: none;
    border: 1px solid transparent;
    transition: all 0.5s ease 0s;
    border-radius: 0.3125rem !important;
    font-family: inherit;
    font-size: 1em;
    text-decoration: none !important;
    transition: all 0.3s ease-in-out;
}

.btn-header:hover, .btn-header:focus {
    color: #fff;
    background-color: #00b0f0;
    border: 1px solid #fff;
}

.btn-event-dark {
    padding: 0.3rem 1.875rem !important;
    font-weight: bold;
    color: #fff;
    background-color: #0F2438;
    border: none;
    transition: all 0.5s ease 0s;
    border-radius: 0.3125rem !important;
    font-family: inherit;
    font-size: 1em;
    text-decoration: none !important;
}

.btn-event-dark:hover {
    color: #00b0f0;
}

.btn-header a {
    text-decoration: none !important;
    color: inherit !important;
}

.btn-delete {
    background-color: #f54242 !important;
    color: #fff !important;
    width: auto !important;
    padding: .2rem .7rem !important;
    border: none !important;
    border: 1px solid transparent !important;
    font-weight: bold;
    border-radius: .2rem !important;
    transition: all 0.3s ease-in-out;
}

.btn-delete:hover, .btn-delete:focus {
    background-color: transparent !important;
    color: #f54242 !important;
    border: 1px solid #f54242 !important;
}

.btn-delete-outline {
    background-color: transparent !important;
    color: #f54242 !important;
    width: auto !important;
    padding: .2rem .7rem !important;
    border: none !important;
    border: 1px solid #f54242 !important;
    font-weight: bold;
    border-radius: .2rem !important;
    transition: all 0.3s ease-in-out;
}

.btn-delete-outline:hover, .btn-delete-outline:focus {
    background-color: #f54242 !important;
    color: #0F2438 !important;
    border: 1px solid transparent !important;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0rem 1.25rem;
    font-size: 1.1em;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #E0234E;
}

.input-no-bg {
    background-color: transparent !important;
    margin-left: 0px !important;
    padding-left: 0.5rem !important;
    border: none !important;
    border-bottom: 0.1875rem solid rgba(201, 208, 216, 0.9) !important;
    border-radius: 0.125rem !important;
    transition: all 0.5s !important;
}

.textarea-no-bg {
    background-color: transparent !important;
    margin-left: 0px !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    padding-left: 0.5rem !important;
    border: none !important;
    border-top: 0.15rem solid rgba(201, 208, 216, 0.9) !important;
    border-right: 0.15rem solid rgba(201, 208, 216, 0.9) !important;
    border-left: 0.15rem solid rgba(201, 208, 216, 0.9) !important;
    border-bottom: 0.1875rem solid rgba(201, 208, 216, 0.9) !important;
    border-radius: 0.3rem !important;
    background-color: #132D45 !important;
    transition: all 0.5s !important;
}

.textarea-no-bg:hover, .textarea-no-bg:focus {
    border-top: 0.15rem solid #00b0f0 !important;
    border-right: 0.15rem solid #00b0f0 !important;
    border-left: 0.15rem solid #00b0f0 !important;
    border-bottom: 0.1875rem solid #00b0f0 !important;
}

.textarea-no-bg::placeholder {
    color: rgba(201, 208, 216, 0.5) !important;
}

.textarea-no-bg-blue {
    background-color: transparent !important;
    margin-left: 0px !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    padding-left: 0.5rem !important;
    border: none !important;
    border-top: 0.15rem solid #00b0f0 !important;
    border-right: 0.15rem solid #00b0f0 !important;
    border-left: 0.15rem solid #00b0f0 !important;
    border-bottom: 0.1875rem solid #00b0f0 !important;
    border-radius: 0.3rem !important;
    background-color: #132D45 !important;
}

.input-no-bg-blue {
    background-color: transparent !important;
    border: none !important;
    border-bottom: 0.1875rem solid #00b0f0 !important;
    border-radius: 0.125rem !important;
    transition: all 0.5s !important;
}

.input-no-bg:hover, .input-no-bg:focus {
    border-bottom: 0.1875rem solid #00b0f0 !important;
}

.input-no-bg::placeholder {
    color: rgba(201, 208, 216, 0.4) !important;
    transition: all 0.5s !important;
}

.input-no-bg-error {
    border-bottom: 0.1875rem solid #e63538 !important;
}

select option[disabled]:first-child {
    display: none !important;
}

.select-no-bg {
    color: rgba(201, 208, 216, 0.4) !important;
    background-color: transparent !important;
    padding-left: 0.2rem !important;
    padding-right: 0 !important;
    border: none !important;
    border-bottom: 0.1875rem solid rgba(201, 208, 216, 0.9) !important;
    border-radius: 0.125rem !important;
    transition: all 0.5s !important;
}

.select-no-bg-blue-b-bottom {
    color: white !important;
    border: none;
    border-bottom: 0.1875rem solid #00b0f0 !important;
    background-color: transparent !important;
    padding-left: 0.2rem !important;
    padding-right: 0 !important;
}

.select-no-bg-blue-b-bottom option {
    color: #fff !important;
    background-color: #274265 !important;
}

.select-no-bg option {
    background-color: #274265 !important;
    transition: all 0.3s;
}

.select-no-bg option:first-child {
    color: rgba(255, 255, 255, 0.2);
}

.select-no-bg-no-first-child {
    color: rgba(201, 208, 216, 0.4) !important;
    background-color: transparent !important;
    padding-left: 0.2rem !important;
    padding-right: 0 !important;
    border: none !important;
    border-bottom: 0.1875rem solid rgba(201, 208, 216, 0.9) !important;
    border-radius: 0.125rem !important;
    transition: all 0.5s !important;
}

select-no-bg-no-first-child option:first-child {
    background-color: #274265 !important;
    color: #fff !important;
    transition: all 0.3s;
}

.select-no-bg-no-first-child option {
    background-color: #274265 !important;
    transition: all 0.3s;
}

.btn-light-blue {
    background-color: #00b0f0 !important;
    color: #fff !important;
    width: auto !important;
    padding: .2rem .7rem !important;
    border: none !important;
    border: 1px solid transparent !important;
    font-weight: bold;
    border-radius: .2rem !important;
    transition: all 0.3s ease-in-out;
}

.btn-light-blue:hover, .btn-light-blue:focus {
    background-color: transparent !important;
    color: #00b0f0 !important;
    border: 1px solid #00b0f0 !important;
}

.btn-light-blue-outline {
    background-color: transparent !important;
    color: #00b0f0 !important;
    width: auto !important;
    padding: .2rem .7rem !important;
    border: none !important;
    border: 1px solid #00b0f0 !important;
    font-weight: bold;
    border-radius: .2rem !important;
    transition: all 0.3s ease-in-out;
}

.btn-light-blue-outline:hover, .btn-light-blue-outline:focus {
    background-color: #00b0f0 !important;
    color: #fff !important;
    border: 1px solid transparent !important;
}

.btn-disabled {
    background-color: transparent !important;
    color: #c9d0d8 !important;
    width: auto !important;
    padding: .2rem .7rem !important;
    border: none !important;
    border: 1px solid #c9d0d8 !important;
    font-weight: bold;
    border-radius: .2rem !important;
    transition: all 0.3s ease-in-out;
}

.link-to-white {
    color: rgba(0, 176, 240, 0.8) !important;
    text-decoration: none !important;
    transition: all 0.3s !important;
}

.link-unstyled {
    text-decoration: none !important;
}

.link-to-white:hover, .link-to-white:focus {
    color: #fff !important;
}

.secondary-text-blue {
    font-size: 0.7em !important;
    color: #00b0f0 !important;
}

.icon-nav {
    color: #fff;
    font-size: 1.5em !important;
    transition: all 0.3s;
}

.icon-nav:hover {
    color: #00b0f0;
}

span.icon-nav-text {
    vertical-align: middle !important;
    visibility: hidden !important;
    color: #fff !important;
    opacity: 0 !important;
    transition: all 0.3s !important;
}

.icon-nav-text:hover {
    color: #c9d0d8 !important;
    opacity: 1 !important;
    visibility: visible !important;
}

.spinner1::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80px;
    width: 80px;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 50%;
    border: 5px solid #C9D0D8;
    border-top-color: #00b0f0;
    animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner2::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    width: 100px;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 50%;
    border: 2px dotted transparent;
    border-top-color: #00b0f0;
    border-bottom-color: #00b0f0;
    animation: spinner 1.5s ease infinite;
}

.spinner3::before {
    content: '';
    box-sizing: border-box;
    /*position: absolute;*/
    /*top: 50%;
    left: 50%;*/
    height: 100px;
    width: 100px;
    margin-top: -30px;
    margin-left: -40px;
    border-radius: 50%;
    border-top: 2px solid #00b0f0;
    border-right: 2px solid #c9d0d8;
    animation: spinner 1s linear infinite;
    position: fixed;
    left: 50vw;
    top: 50vh;
    width: 100px;
    height: 100px;
    z-index: 9999;
}

section.body section.container article {
    width: auto !important;
    margin: 1%;
    display: inline !important;
    vertical-align: top;
}

 section.body section.container article:first-child {
    margin-left: 2%; 
}

table {
    width: 100% !important;
    margin: auto;
    text-align: center;
}

table tr {
    border-bottom: solid #274265 .5rem;
    font-size: 1.2rem;
}

table tr th {
    top: 0;
    background-color: #00b0f0;
    border-right: solid #274265 .4rem;
    height: 2.1875rem;
    padding: .4rem 2rem;
}

table tr td {
    background-color: white;
    color: #204e79;
    width: auto !important;
    margin: 0 !important;
    padding: .31rem 0 !important;
    border-right: solid #274265 0.375rem;
}

table td, table th {
    padding: 0.31rem 1.25rem !important;
    border-top: none !important;
}

footer {
    background-color: #274265;
    max-height: 10.9375rem;
    position: fixed;
    bottom: 0%;
    text-align: center;
    width: 100%;
}

footer p {
    color: #fff;
    font-size: 1.25rem;
    margin-bottom: 5%;
    background-color: transparent;
}

.img-round-small {
    width: 2.1875rem;
    height: 2.1875rem;
}

i.trash-button {
    font-size: 2.8rem;
    margin-right: 0.4rem !important; 
    color: rgba(255, 255, 255, 0.4);
    transition: all 0.5s !important;
}

.hide-element {
    visibility: hidden !important;
}

.loader-bg {
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    background-color: #274265 !important;
    display: flex;
    justify-content: center;
    z-index: 9000;
    position: absolute;
    min-height: 90vh;
}

.custom-control-label::before,
.custom-control-label::after {
    top: 0rem;
    width: 2.3rem;
    height: 2.3rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: 0;
    margin-left: -0.590vw !important;
}

.custom-control-label::before:checked,
.custom-control-label::after:checked {
    background-color: #00b0f0 !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: rgba(0, 176, 240, 0.8);
}


#time-range p {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    color: #333;
    text-align: center;
}

.ui-slider-horizontal {
    height: 8px;
    background: #D7D7D7;
    border: 1px solid #BABABA;
    box-shadow: 0 1px 0 #FFF, 0 1px 0 #CFCFCF inset;
    clear: both;
    margin: 8px 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.ui-slider {
    position: relative;
    text-align: left;
}

.ui-slider-horizontal .ui-slider-range {
    top: -1px;
    height: 100%;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    height: 8px;
    font-size: .7em;
    display: block;
    border: 1px solid #5BA8E1;
    box-shadow: 0 1px 0 #AAD6F6 inset;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: #81B8F3;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #A0D4F5), color-stop(100%, #81B8F3));
    background-image: -webkit-linear-gradient(top, #A0D4F5, #81B8F3);
    background-image: -moz-linear-gradient(top, #A0D4F5, #81B8F3);
    background-image: -o-linear-gradient(top, #A0D4F5, #81B8F3);
    background-image: linear-gradient(top, #A0D4F5, #81B8F3);
}

.ui-slider .ui-slider-handle {
    border-radius: 50%;
    background: #F9FBFA;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #C7CED6), color-stop(100%, #F9FBFA));
    background-image: -webkit-linear-gradient(top, #C7CED6, #F9FBFA);
    background-image: -moz-linear-gradient(top, #C7CED6, #F9FBFA);
    background-image: -o-linear-gradient(top, #C7CED6, #F9FBFA);
    background-image: linear-gradient(top, #C7CED6, #F9FBFA);
    width: 22px;
    height: 22px;
    -webkit-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
    -moz-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
    -webkit-transition: box-shadow .3s;
    -moz-transition: box-shadow .3s;
    -o-transition: box-shadow .3s;
    transition: box-shadow .3s;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 22px;
    height: 22px;
    cursor: default;
    border: none;
    cursor: pointer;
}

.ui-slider .ui-slider-handle:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 50%;
    margin-top: -4px;
    left: 50%;
    margin-left: -4px;
    background: #30A2D2;
    -webkit-box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 #FFF;
    -moz-box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 white;
    box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 #FFF;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.5em;
    margin-left: -.6em;
}

.ui-slider a:focus {
    outline: none;
}

#slider-range {
    width: 90%;
    margin: 0 auto;
}

#time-range {
    width: 600px;
}

a {
    text-decoration: none !important;
}

.dropdown:hover .dropdown-menu, .dropdown:focus .dropdown-menu {
    display: flex !important;
}

.dropdown:hover .dropdown-menu-top, .dropdown:focus .dropdown-menu-top {
    display: block !important;
}

.dropdown-item-bg-blue {
    background-color: transparent;
    padding: 0 !important;
    border: none;
    transition: all 0.5s;
}

.dropdown-item-nav-top {
    background-color: #0F2438;
    padding: 0 !important;
    border: 0.0625rem solid rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
}

.dropdown-item-nav-top:hover, .dropdown-item-nav-top:focus {
    border: 0.0625rem solid rgba(255, 255, 255, 0.8);
}

.dropdown-item-nav-custom-top {
    color: rgba(199, 206, 214, 0.7) !important;
    padding-right: 0.625rem;
    transition: all 0.5s;
}

.dropdown-item-nav-custom-top:hover, .dropdown-item-nav-custom-top:focus {
    color: #fff !important;
}

.dropdown-item-nav-custom {
    color: rgba(199, 206, 214, 0.7) !important;
    padding-right: 0.625rem;
    border-bottom: 0.09375rem solid transparent !important;
    transition: all 0.5s;
}

.dropdown-item-nav-custom:hover, .dropdown-item-nav-custom:focus {
    color: #fff !important;
    border-bottom: 0.09375rem solid #fff !important;
}

.dropdown-item-nav-custom:hover .dropdown-item-nav-custom, .dropdown-item-nav-custom:focus .dropdown-item-nav-custom {
    color: #00b0f0;
}

.dropdown-item-nav-custom:hover > .dropdown-item-nav-custom:hover {
    color: #00b0f0;
}

.nav-item-custom {
    color: #C9D0D8 !important;
    border-bottom: 0.09375rem solid transparent;
    transition: all 0.5s;
}

.nav-item-custom:hover, .nav-item-custom:focus {
    color: #fff !important;
    border-bottom: 0.09375rem solid #fff;
}

.nav-item-custom-icon-top {
    padding: 0 !important;
    color: #D3D9F0 !important;
    transition: all 0.3s ease-in-out;
}

.nav-item-custom-icon-child {
    padding: 0.3125rem 0rem !important;
    color: #00b0f0;
    transition: all 0.3s ease-in-out;
}

.btn-text-light-blue {
    padding: 0.3125rem 0rem !important;
    color: #fff !important;
    transition: all 0.3s ease-in-out;
}

.btn-text-light-blue:hover {
    color: #00b0f0 !important;
}

.nav-item-custom-username {
    color: #fff !important;
    border-bottom: 0.09375rem solid transparent;
    transition: all 0.5s;
}

.nav-item-custom-username:hover, .nav-item-custom-username:focus {
    border-bottom: 0.09375rem solid #fff;
}

.modal-bg-dark {
    background-color: #0F2438 !important;
    color: #fff !important;
}

.modal-close-button {
    color: #c9d0d8 !important;
    transition: all 0.3s;
}

.modal-close-button:hover, .modal-close-button:focus {
    color: #fff !important;
}

.graphic-bg {
    background-color: #222229 !important;
}

.alertify-notifier .ajs-message.ajs-error {
    border: none !important;
    font-weight: bold !important;
}

.ajs-success {
    border: none !important;
    font-weight: bold !important;
    background-color: #5bf088 !important;
}

.ajs-ok, .ajs-cancel {
    text-transform: capitalize !important;
    font-size: 1rem !important;
    border-radius: 20px;
}

.ajs-content {
    color: #0F2438 !important;
    text-align: center !important;
    font-weight: bold !important;
}

.ajs-footer {
    background-color: #0f2438 !important;
}

.ajs-close {
    display: none !important;
}

.ajs-ok {
    color: #00b0f0 !important;
}

.ajs-cancel {
    color: #e63538 !important;
}

.ajs-close {
    display: none !important;
}

.table-dark:not(:last-child) {
    background-color: #0F2438 !important;
    color: #00b0f0 !important;
    transition: all 0.3s;
}

tr.promote-admin:hover > td:not(:last-child), tr.promote-admin:focus > td:not(:last-child) {
    background-color: #0F2438 !important;
    color: #0CF8B6 !important;
    cursor: pointer !important;
    transition: all 0.3s ease-in-out !important;
}

.table-green {
    cursor: pointer !important;
    transition: all 0.3s ease-in-out !important;
}

.table-green-font > td:not(:last-child) {
    background-color: #0AC48F;
    color: #fff;
    transition: all 0.3s ease-in-out !important;
}

.event-list-item {
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    width: auto;
    padding: .2rem .3rem;
    margin-bottom: .4rem;
    margin-left: .4rem;
    margin-right: .4rem;
    border: 1px solid #00b0f0;
    text-align: center;
    transition: all 0.3s;
}

span.irs > * {
    font-size: 12px !important;
}

span.irs-bar, span.irs-to, span.irs-from, span.irs i {
    background: linear-gradient(#00b0f0, #00b0f0) center/2px 100%;
}

span.irs-bar {
    padding: 6px !important;
}

.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {
    border-top-color: #00b0f0 !important;
}

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
    background-color: #00b0f0;
}

.irs-line {
    background-color: #0F2438 !important;
}

.weekdays-list .weekday-selected {
    background-color: #00b0f0 !important;
    color: white !important;
    border: 1.5px solid transparent !important
}

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
    background-color: #00b0f0 !important;
}

.input-group-text {
    background-color: #00b0f0 !important;
    color: white !important;
    border: 1px solid white !important;
}

.weekdays-day {
    font-size: 0.75rem !important;
    border: none !important;
    border: 1.5px solid transparent !important;
    transition: all 0.3s;
    font-weight: bold;
}
    .weekdays-day:first-child {
        border-top-left-radius: 0.3rem !important;
        border-bottom-left-radius: 0.3rem !important;
    }
    .weekdays-day:last-child {
        border-top-right-radius: 0.3rem !important;
        border-bottom-right-radius: 0.3rem !important;
    }

    .weekdays-day:hover, .weekdays-day:focus {
    border: 1.5px solid #0F2438 !important;
}

.block-period-li-blue {
    font-size: 0.75rem !important;
    border: none !important;
    border: 1.5px solid transparent !important;
    border-radius: 0.3rem !important;
    transition: all 0.3s;
}

.block-period-li {
    background-color: rgba(217, 92, 92, 0.95) !important;
    font-size: 0.75rem !important;
    color: white !important;
    border: none !important;
    border: 1.5px solid transparent !important;
    border-radius: 0.3rem !important;
    transition: all 0.3s;
}

.block-period-li:hover {
    border: 1.5px solid white !important;
}

.weekday-selected {
    background-color: #00b0f0 !important;
    color: white !important;
    border: none !important;
    border: 1.5px solid transparent !important;
    border-radius: 0.3rem !important;
    transition: all 0.3s;
}

.weekday-selected:hover {
    border: 1.5px solid white !important;
}

.google-visualization-tooltip {
    background-color: #fff !important;
    top: -50vh !important;
}

.google-visualization-tooltip span {
    color: #00b0f0 !important;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../Images/09b24e31234507.564a1d23c07b4.gif) center no-repeat #fff;
}

@media screen and (min-width: 1455px) {
    i.trash-button {
        margin-right: .5rem !important;
    }
}

@media screen and (min-width: 1200px) {
    i.trash-button {
        margin-right: .55rem !important;
    }
}

@media screen and (min-width: 768px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .dropdown-menu {
        margin-top: 0;
    }

    .dropdown-toggle {
        margin-bottom: 0.625rem;
    }

    .navbar .dropdown-toggle, .nav-tabs .dropdown-toggle {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 600px) {
    .select-no-bg {
        display: inline-block !important;
    }

    i.trash-button {
        margin-right: -0.3rem !important;
    }
}